*{
    margin: 0;
}
/* 
body{
    background-image: url(/FORM/image/login-bg-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
   
} */
/* body::after{
    content: " jkvjlvll hlblb h";
    width: 100vw;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1;
} */

.right-form{
    width: 40%;
    height: 70%;
    display: flex;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
}


.right-form img{
    width: 200px;
    height: 100px; 
    object-fit: cover;   
}
