*{
    margin: 0;
}
:root{
    --text-color: #FFFFFF;
    --form-button-bg: #272b2f;
    --fb-btn-color: #1874eb;
    --placeholder-text-color: 
    #b6b9bb;
    --google-btn-color: #db4437;
    --twitter-btn-color: #00acee;

}
body{
    background-image: url(image/login-bg-3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: top center;
   
}  
 body::after{
    content: " ";
    width: 100vw;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.26);
    position: absolute;    
     
}

.form-hold{
    width: 90%;
    height: 500px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.right-form{
    width: 500px;
    height: 70vh;
    display: flex;
    /* padding: 100px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
   
}
.form-right .logo{
    width: 200px;
    height: 60px;
    
}
.logo img{
    width: 100px;
    height: 40px;
    object-fit: cover;


}    

.right-form p{
    color: var(--text-color);
    font-size: 18pt;
}
.right-form h2{
    color: var(--text-color);
    font-size: 25pt;
    text-align: center;
}
.right-form a{
    color: var(--text-color);
    font-size: 15pt;
}

/* left section of the form */
.left-form{
    background: var(--text-color);
    width: 650px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    width: 550px;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.form-wrapper form{
    width: 520px;
    
     
    
}
.form-wrapper form label{

   
    
}
.form-wrapper form input{
    width: 100%; 
    height: 50px;  
    margin-bottom: 20px; 
    margin-top: 10px;
    border: 1px solid var(--placeholder-text-color);   
}

.form-wrapper form input::placeholder{
    color: var(--placeholder-text-color);
    font-size: 12pt;
    padding: 0px 10px;
}
.form-wrapper form button{
    width: 100%;
    height: 50px;
  
     
}

